#recent_reviews_wrapper {
    /*border: 5px solid black;*/
    display: inline-block;
    vertical-align: text-top;
}
#all_books_wrapper {
    border: 2px solid black;
    display: inline-block;
    vertical-align: text-top;
    height: 200px;
    width: 350px;
    overflow: auto;
    margin-left: 200px;

}
#all_books_wrapper h3 {
    margin-left: 10px;
}
